<div class="planets-container">
  <span class="glyph-symbol-special">@</span>
  <h2>Planets</h2>

  <input
    type="text"
    [(ngModel)]="search"
    (ngModelChange)="onSearchChange()"
    placeholder="Search by name..."
  />

  @if (isLoading) {
    <div class="loading">Loading...</div>
  }

  @if (hasError) {
    <div class="error">{{ errorMessage }}</div>
  }

  @if (isEmpty && !isLoading && !hasError) {
    <div class="empty">No planets found.</div>
  }

  @if (!isLoading && !hasError && !isEmpty) {
    <table>
      <thead>
      <tr>
        <th (click)="changeSort('name')" class="sortable">
          Name
          @if (sort === 'name,asc') {
            <span class="arrow">▲</span>
          } @else if (sort === 'name,desc') {
            <span class="arrow">▼</span>
          } @else {
            <span class="arrow">▲▼</span>
          }
        </th>

        <th>Climate</th>
        <th>Population</th>

        <th (click)="changeSort('created')" class="sortable">
          Created
          @if (sort === 'created,asc') {
            <span class="arrow">▲</span>
          } @else if (sort === 'created,desc') {
            <span class="arrow">▼</span>
          } @else {
            <span class="arrow">▲▼</span>
          }
        </th>
      </tr>
      </thead>
      <tbody>
        @for (planet of planets; track planet) {
          <tr>
            <td>{{ planet.name }}</td>
            <td>{{ planet.climate }}</td>
            <td>{{ planet.population }}</td>
            <td>{{ planet.created | date:'short' }}</td>
          </tr>
        }
      </tbody>
    </table>

    <div class="pagination">
      <button (click)="prevPage()" [disabled]="page === 0">Previous</button>
      <span>Page {{ page + 1 }}</span>
      <button (click)="nextPage()" [disabled]="(page + 1) * size >= totalElements">Next</button>
    </div>
  }

  <div class="back-button-container">
    <button routerLink="/" class="back-btn">← Back to Home</button>
  </div>
</div>
