@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

@font-face {
  font-family: 'Star Jedi';
  src: url('/assets/fonts/Starjedi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url('assets/img/background.webp');
  background-size: cover;
  background-position: center;
  color: white;
  min-height: 100vh;
}

h1, h2 {
  text-align: center;
  font-family: 'Star Jedi', sans-serif;
  text-shadow: 0 0 10px #ffd700, 0 0 20px #ffd700;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

button {
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 16px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  transition: transform 0.2s;
}

button:hover {
  transform: scale(1.05);
}

@font-face {
  font-family: 'Star Jedi Hollow';
  src: url('/assets/fonts/Starjhol.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body::before {
  content: '';
  font-family: 'Star Jedi Hollow';
  display: none;
}
@font-face {
  font-family: 'Star Jedi Special';
  src: url('/assets/fonts/Stjedise.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.back-button-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;

.back-btn {
  display: inline-block;
  padding: 0.9rem 1rem;
  font-size: 1.3rem;
  font-family: 'Star Jedi', sans-serif !important;
  background-color: #ffe81f;
  color: black;
  border: 2px solid #ffe81f;
  border-radius: 8px;
  cursor: pointer;
  text-shadow: none;
  transition: all 0.3s ease;
  text-decoration: none;
  text-align: center;

  &:hover {
    background-color: black;
    color: #ffe81f;
    text-shadow: 0 0 4px #ffe81f;
  }
}

}

