<div class="home-container">
  <div class="menu-card">
    <div class="title-wrapper">
      <span class="glyph-symbol-jedi">#</span>
      <h1 class="menu-title">STAR WARS</h1>
      <span class="glyph-symbol-jedi">$</span>
    </div>
    <h2 class="menu-subtitle">EXPLORE THE GALAXY</h2>

    <button routerLink="/people" class="menu-btn">CHARACTERS</button>
    <button routerLink="/planets" class="menu-btn">PLANETS</button>
    <button routerLink="/ships" class="menu-btn">STARSHiPS</button>
    <button routerLink="/movies" class="menu-btn">MoviES</button>
  </div>
</div>
